/Segundo cuatrimestre/build/
/Segundo cuatrimestre/InstanciacionVariables/nbproject/private/
/Segundo cuatrimestre/Testeo/build/
/Segundo cuatrimestre/InstanciacionVariables/build/
/Segundo cuatrimestre/CuentaRegresivaPares/nbproject/private/
/Segundo cuatrimestre/CuentaRegresivaPares/build/
/Segundo cuatrimestre/MoodlePremium/nbproject/private/
/Segundo cuatrimestre/MoodlePremium/build/
